{% extends 'layout.template.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Customer Number</th>
            <th>customer Name</th>
            <th>Country</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        {% for r in results %}
        <tr>
            <td>
                {{r.customerNumber}}
            </td>
            <td>
                <a href="{{ url_for('show_customer_orders', customer_number=r.customerNumber) }}">
                {{r.customerName}}
                </a>
            </td>
            <td>
                {{r.country}}
            </td>
            <td>
                {{r.city}}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}