<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>City:</label>
        <input type="text" name="city" value="{{office.city}}"/><br/>
        <label>Phone:</label>
        <input type="text" name="phone" value="{{office.phone}}"/><br/>
        <label>Address Line 1:</label>
        <input type="text" name="address_line_1" value="{{office.addressLine1}}"/><br/>
        <label>Address Line 1:</label>
        <input type="text" name="address_line_2" value="{{office.addressLine2}}"/><br/>
        <input type="submit" value="Update"/>
    </form>
</body>
</html>